/* public/fonts.css */
@font-face {
  font-family: Arial, Helvetica, sans-serif;;
  src: url('../../public/fonts/OpenDyslexic-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
